@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html {
  font-family: "Ubuntu", sans-serif;
}

header {
  background: #0095be56;
  padding-top: 1vw;
  padding-left: 1vw;
  padding-bottom: 1.5vw;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.12);
}

nav {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

article {
  margin: 1.5vw 3vw 3vw 2vw;
  background: rgba(81, 208, 212, 0.15);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 30px 30px 40px;
}

.commForm {
  margin-top: 3vw;
  width: 50%;
  background: rgba(81, 208, 212, 0.055);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 30px 30px 40px;
}

.thePost #Info {
  text-align: right;
}

.author {
  font-style: italic;
  color: rgba(22, 21, 21, 0.637);
}

h4 {
  text-transform: uppercase;
  color: rgba(22, 21, 21, 0.521);
}

a {
  text-decoration: none;
}

a:any-link {
  color: black;
}

a:hover {
  font-size: 1.3vw;
}

#form_container {
  margin: 0.5vw 3vw 3vw 2vw;
  width: 50%;
  background: rgba(81, 208, 212, 0.055);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 30px 30px 40px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-family: "Ubuntu", sans-serif;
}

form ::placeholder {
  font-family: "Ubuntu", sans-serif;
}

form p {
  text-align: center;
  padding-top: 0.5vw;
}

form input {
  background: rgba(81, 208, 212, 0.055);
}

form textarea {
  background: rgba(81, 208, 212, 0.055);
}

input:valid,
textarea:valid {
  border: 1px green solid;
}
input:invalid,
textarea:invalid {
  border: 1px red solid;
}

input:placeholder-shown,
textarea:placeholder-shown {
  border: 1px grey solid;
}

label {
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form {
  margin-top: 20px;
  height: 40px;
  color: white;
  background-color: #0095bea4;
  opacity: 75%;
  text-transform: uppercase;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.form :hover {
  opacity: 100%;
}

.hidden {
  display: none;
}
