@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html {
  font-family: "Ubuntu", sans-serif;
}

header {
  background: #0095be56;
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: auto;
  padding-bottom: 1.5vw;
  text-align: center;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

header p {
  font-size: 1.6vw;
  padding-bottom: 1vw;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1vw;
  row-gap: 1vw;
  padding-top: 1.5vw;
  padding-left: 1vw;
}

article {
  margin-top: 1vw;
  width: 25vw;
  background: rgba(81, 208, 212, 0.15);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 30px 30px 40px;
}

article p {
  text-align: end;
}

.author {
  font-style: italic;
  color: rgba(22, 21, 21, 0.637);
}

h4 {
  text-transform: uppercase;
  color: rgba(22, 21, 21, 0.521);
}

a {
  text-decoration: none;
}

a:any-link {
  color: black;
}

nav a:hover {
  font-size: 1.3vw;
  text-decoration: underline;
}

article:hover {
  border-style: dotted;
  border-color: dodgerblue;
}
