@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html {
  font-family: "Ubuntu", sans-serif;
}

header {
  background: #0095be56;
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: auto;
  padding-bottom: 1.5vw;
}

header a:any-link {
  color: black;
  text-decoration: none;
}

header a:hover {
  font-size: 1.3vw;
}

#form_container {
  margin: 3vw auto 2vw auto;
  width: 30vw;
  background: white;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 30px 70px 70px 70px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-family: "Ubuntu", sans-serif;
}

form ::placeholder {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  text-align: center;
}

form p {
  text-align: center;
  padding-top: 0.5vw;
}

input:valid,
textarea:valid {
  border: 1px green solid;
}
input:invalid,
textarea:invalid {
  border: 1px red solid;
}

input:placeholder-shown,
textarea:placeholder-shown {
  border: 1px grey solid;
}

label {
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form {
  margin-top: 20px;
  height: 40px;
  color: white;
  background-color: #0095bea4;
  opacity: 75%;
  text-transform: uppercase;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.form :hover {
  opacity: 100%;
}

.hidden {
  display: none;
}
